<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Şube</h1>
    <h1>Burada Angularla yazılmış bir internet bankacıığı olacak </h1>
    <a type="button" class="btn btn-lg btn-default" href="http://www.javacibank.com"><span class="glyphicon glyphicon-flash"></span> Javaci Bank Ana Sayfa</a>
  </div>
</div>

</body>
</html>
